# This cell is auto-generated.

In [34]:
data = 0
while data not in [1, 2]:
    data = int(input('Which data set do you want to use? 1 = Test, 2 = Input '))

if data == 1:
    fp = 'Test/'
    fn = '2204test.txt'
elif data == 2:
    fp = 'Input/'
    fn = '2204input.txt'

f = open(fp + fn, 'r')
raw = [j for j in f.read().splitlines()]

Which data set do you want to use? 1 = Test, 2 = Input 2

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.DataFrame(columns=['e1s', 'e1e', 'e2s', 'e2e'])

In [37]:
df

Empty DataFrame
Columns: [e1s, e1e, e2s, e2e]
Index: []

In [38]:
rngs = np.array([j.split(',') for j in raw])
df['e1'] = rngs[:,0]
df['e2'] = rngs[:,1]

In [39]:
df[['e1s', 'e1e']] = df['e1'].str.split('-', expand=True).astype(int)
df[['e2s', 'e2e']] = df['e2'].str.split('-', expand=True).astype(int)
df.head()

   e1s  e1e  e2s  e2e     e1     e2
0   98   99    3   97  98-99   3-97
1   23   72   23   72  23-72  23-72
2   53   62    8   87  53-62   8-87
3   21   52   36   51  21-52  36-51
4   36   38   37   96  36-38  37-96

In [55]:
print('Part 1 Answer: ' + 
      str(sum(((df['e2s'] >= df['e1s']) & 
               (df['e2e'] <= df['e1e'])) |
              ((df['e1s'] >= df['e2s']) &
               (df['e1e'] <= df['e2e'])))))

Part 1 Answer: 459

In [56]:
counter = 0
for j in range(len(df)):
    set1 = set(range(df.loc[j, 'e1s'], df.loc[j, 'e1e'] + 1))
    set2 = set(range(df.loc[j, 'e2s'], df.loc[j, 'e2e'] + 1))
    if len(set1 & set2) > 0: counter += 1
print('Part 2 Answer: ' + str(counter))

Part 2 Answer: 779